body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color : lightgoldenrodyellow;
}

header {
    background: rgb(0,0,0);
background: radial-gradient(circle, rgb(105, 32, 32) 79%, rgb(12, 11, 11) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: rgb(243, 240, 240);
    font-weight: bold;
    position: top
    
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about {
    margin-bottom: 80px;
    font-weight: normal;
    font-size: large
    
}

h2 {
    color: #0a0a0a;
    font-size: xx-large;

}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

p{
    font-family: sans-serif;
    font-weight: normal;
    font-size: x-large;
    margin: 0;
    
    padding: 10px;
    flex: 1 1 300px;
    border-radius: 15%;
}

.sidebar{
    text-align: center;
}

h1{
    font-size: xx-large;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 10px;
    font-size: larger;
}

ul {
    padding: 0;
} 

li { 
    list-style-type: none; 
    margin-bottom: 5px; 
} 

.skills {
    font-family: sans-serif;
    font-weight: normal;
    font-size: large;
    margin: 0;
}

.project-container { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
} 
.project-1 {
    margin-bottom: 80px;
    font-weight: bold;
}

.projects-2 {
    padding: 10px;
    flex: 1 1 300px;
}

.logo{
    width: 400px;
    height: auto;
    position: bottom;
    border-radius: 45%;
    position: center;
}

.image {
    max-width: 40%;
}

ul li a:hover{
    color: rgb(12, 11, 11);
}

footer {
    background: rgb(0,0,0);
background: radial-gradient(circle, rgb(105, 32, 32) 79%, rgb(12, 11, 11) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 600px) {}
    .about-grid {
        grid-template-columns: 1fr;
    }
 