body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(199,199,199);
background: radial-gradient(circle, rgba(199,199,199,1) 79%, rgba(255,255,255,1) 100%);
}

header {
    background: rgb(0,0,0);
background: radial-gradient(circle, rgb(139, 136, 136) 79%, rgb(12, 11, 11) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-weight: bold;
    position: top
    
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about {
    margin-bottom: 80px;
    font-weight: normal;
    font-size: large
    
}

h2 {
    color: #0a0a0a;
    font-size: xx-large;

}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
}

p{
    font-family: sans-serif;
    font-weight: normal;
    font-size: x-large;
    margin: 0;
    
    padding: 10px;
    flex: 1 1 300px;
    border-radius: 15%;
}

h1{
    font-size: xx-large;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 10px;
    font-size: larger;
    
}

ul {
    padding: 0;
} 

li { 
    list-style-type: none; 
    margin-bottom: 5px; 
} 

.skills {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: large;
    margin: 0;
    border-style: solid;
    border-color: black;
}

.project-container { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
} 
.Article-main {
    margin-bottom: 80px;
    font-weight: bold;
}
.Article-1 {
    padding: 20px;
    flex: 1 1 1 300px;
    border-style: groove;
    border-color: black;
}

.Article-2 {
    padding: 20px;
    flex: 1 1 1 300px;
    border-style: groove;
    border-color: black;
}

.Article-3 {
    padding: 20px;
    flex: 1 1 1 300px;
    border-style: groove;
    border-color: black;
}

.logo{
    width: 300px;
    height: auto;
    position: bottom;
    border-radius: 30%;
    position: center;
}

.image {
    max-width: 40%;
}

.twitch{
    max-width: 100px;
    padding: 3%;
}

.css-logo{
    max-width: 100px;
    padding: 3%;

}

.html-logo{
    max-width: 100px;
}

ul li a:hover{
    color: rgb(238, 238, 238);
}

footer {
    background: rgb(0,0,0);
background: radial-gradient(circle, rgb(139, 136, 136) 79%, rgb(12, 11, 11) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 600px) {}
    .about-grid {
        grid-template-columns: 1fr;
    }